.editor
  display: none

.editor + .CodeMirror
  cursor: text
  font-size: 20px
  line-height: 26px
  padding: 10px
  padding-bottom: 0
  height: 100%
  width: 100%
  float: left

  .CodeMirror-selected
    background: #b6d6fd
